body{
    margin:0;
}

.customCarousel{
    margin: 0;
    padding: 0;    
}

.carousel-indicators {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (max-width: 500px) {
    .d-block {
        height: 250px !important;
    }
}