.card-group {
  margin-top: 45px !important;
}

.card {  
  border-radius: 0 !important;
}

#card-1 {
  margin-top: 150px;
}

#card-2 {
  margin-top: 100px; 
}

#card-3 {
  margin-top: 50px; 
}

#card-4 {
  
}